


:root {
    background-image:url("./Images/background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "nunito", sans-serif ;
}



body {

    background-color: var(--background-color); 
    font-family: var(--font-family);
}


#mainNavbar {

    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 50px;
    
    
}




#mainNavbar .navbar-brand {

    color:#EA1C2C;
    font-size: 1.5rem;
    font-weight:100; 
    border-width: 0px;


}


#mainNavbar .nav-link:hover {

    color:#EA1C2C;
}


h3 {
    font-weight: 20px;
    padding-bottom: 20px;
}


h4 {

    font-weight: 20px;
    padding-bottom: 25px;
}

h5   {

    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    


}



#container-about {

    font-weight: bold;
    font-size: 90px;
    font-style: italic;

}

#skills {

    margin-top: 100px;
    margin-left: 300px;
    font-weight: bold;
    font-size: 90px;
    font-style: italic;


}





.profile-picture {

    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-position: center;
    margin-left: 20px;
    
}

.navbar.scrolled {
    background-color:rgb(156, 216, 156); 
    transition: background 500ms; 



}




/*styling contact me section*/ 
.container-contact {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    font-family: var(--font-family);
    font-size: 30px;
    padding-left: 25px;
}

.container-contact a {
    padding: 25px;
}
/*Styling for the Container holding the About Me section*/
.container {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 40px 0;
    display: flex;
}

/*This will style the titles about me, projects, and contact*/
.container-title {
    width: 15%;
    font-size: 40px;
    font-weight: bold;
    font-family: var(--font-family);
    text-align: right;
    padding-right: 40px;
    margin-right: 10px;
    border-right: solid #FDF8F5 4px;

}

/*styling container to hold the paragraph and picture*/
.container-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.container-content p {
    width: 70%;
    margin-left: 10px;
    font-size: 22px;
    color: var(--background);
    line-height: 1.5;
    font: var(--font-family);
}
/*styling for the boxes layout*/
.grid-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    height: 70%;
    width: 70%;
    margin-top: 70px;
    margin-left: 20px;
    margin-bottom: 70px;
}
/*styling the first project to look bigger*/

 #full-size-image {
     width: 100%;
}

.web-image {
    border: 4px solid #FDF8F5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    background: var(--background-color);
    width: 50%;
}

.screenshot {
    height: 100%;
    width: 100%;
    opacity: 0.4;
    transition: 0.5s;
}

.screenshot:hover {
    opacity: 1;
}

.screenshot1 {
    height: 150%;
    width: 100%;
    opacity: 0.4;
    transition: 0.5s;
}

.screenshot1:hover {

    opacity: 1;
}

.image-title {
    position: absolute;
    width: 175px;
    padding: 10px 15px;
    margin-bottom: 20px;
    background: var(--background-color);
    border-radius: 0 15px 15px 0;
    text-align: left;
    bottom: 0px;
    left: 0px;
}

.image-title h3 {
    font-size: 15px;
    font-weight: bold;
    font-family: var(--font-family);
    color:black;
}



.image-title a {
    font-size: smaller;
}


/* footer styling */
footer {
    height: 60px;
    border-top: 4px solid cornsilk;
    text-align: center;
    color: var(--font-family);
}

footer div {
    color: var(--background-color);
    font-family: var(--font-family);
    font-size: 16px;
    padding-top: 30px;
}


   
  
@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight:100;
        font-size: 3rem; 
    
    }

}

